<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        body{
            width: 500px;
            border: 1px solid black;
        }
        .main{
            background-color: orangered;
        }
        .title{
            text-align: end;
        }

    </style>
  </head>
  <body>
    <div class='main'>
      <h1 class="title">Inani Hub</h1>
    </div>
    <p>Dear User {{name}}</p>
   <p>We're glad to have you on board at {{company}}</p>
    <p>Thanks & Regards</p>
    <span>Inani hub</span>

     <div class='main'>
      <h1 class="titles">Innani Hub</h1>
    </div>
  </body>
</html>